button {
    border: none !important;
}

#search {
    display: none;
    width: 150px;
    /* animation-name: showbtn;
    animation-duration: 2s;
    animation-fill-mode: forwards; */
}

@keyframes showbtn {
    from {
        width: 0px;
    }
    to {
        width: 150px;
    }
}