* {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Medium.ttf");
}

body {
    background: #f7f7ff;
    font-family: Montserrat;
}

/*Home page size settings*/
.home {
    padding: 5px 70px 0 70px;
    height: 100vh;
}

/*Site logo settings*/
.logo {
    height: 120px;
}

.logo img {
    width: 80px;
}

/*This section consists of three sections: form, text and page image,
 in which the page image is set as a background*/

.content {
    width: 100%;
    background-image: url("images/bg-image/scooter.svg");
    background-repeat: no-repeat no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
}

/*Site text*/
.title-content {
    width: 400px;
    font-size: 60px;
    font-weight: bold;
}


.text-content {
    width: 400px;
    font-size: 18px;
}

/*Site apply form*/
.apply {
    display: inline-flex;
    justify-content: end;
    /*margin-right: 20px;*/
    border-radius: 15px;
}

.apply-content {
    width: 320px;
    height: 90%;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: white;
}

.apply form input {
    background-color: #F2F2F2;
    height: 25px;
    padding: 7px 15px;
    width: 95%;
    margin-bottom: 5px;
    border-radius: 12px;
    outline: none;
}

.apply form {
    color: gainsboro;
}

.terms {
    font-size: 12px;
}

.submit-form {
    width: 95%;
    height: 25px;
    background: #57eeab;
    margin: 10px auto;
    border-radius: 10px;
    padding: 7px;
    font-size: 20px;
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.already-apply {
    font-size: 12px;
    text-align: center;
}

.link-already-apply {
    color: #ff8480;
    text-decoration: none;
}

/*footer page*/
footer {
    background-color: #fffd8c;
    height: 130px;
}

.content-footer {
    margin: 10px 70px;
    align-self: center;
    height: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-rows: 100%;
    grid-template-columns: repeat(2, auto);
}

/*Content of the left part of the footer*/
.content-footer-left {
    align-self: center;
}

.footer-text-header {
    font-weight: bold;
    font-size: 15px
}


.footer-text-calculate-drive {
    font-size: 12px;
    margin: 5px auto;
}

.calculate-drive input {
    height: 10px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.hours {
    width: 70px;
}

.calculate {
    background-color: #ff8480;
    color: white;
    display: inline-flex;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 25px;
    font-weight: bold;
}

/*Social media section*/
.social {
    align-self: center;

}

.social a {
    text-decoration: none;
    margin: 5px;
}

@media (min-width: 768px) and (max-width: 1200px ) {

    .home {
        height: 220vw;
    }

    .logo {
        height: auto;
    }

    .logo img {
        width: 20vw;
    }

    .content {
        display: grid;
        align-content: space-between;
        background-position: center;
        background-size: 80vw;
        height: 155vw;
        grid-row-gap: 65vw;
    }

    .title-content {
        font-size: 8vh;
        width: 75vw;
    }

    .text-content {
        font-size: 3.2vw;
        margin-top: 30px;
        width: 100%;
    }


    .apply-content {
        width: 75vw;
        height: auto;
    }

    .apply {
        display: grid;
        justify-content: center;
        margin: auto;
    }

    .submit-form {
        font-size: 30px;
    }

    .apply-title {
        font-size: 35px;
    }

    .footer-text-header, .terms {
        font-size: 22px;
    }

    .already-apply {
        font-size: 20px;
    }

    .apply-content p {
        font-size: 30px;
    }

    .apply-content form input {
        height: 5vw;
        font-size: 25px;
        margin: 10px auto;
    }

    .submit-form {
        height: 5vw;
        display: grid;
        align-content: center;
    }

    .check-term {
        zoom: 2;
        margin-left: 7px;
        margin-right: 5px;
    }

    footer {
        padding: 20px;
        height: max-content;
    }

    .content-footer {
        display: block;
        text-align: center;
    }

    .footer-text-calculate-drive, .calculate-drive input {
        font-size: 22px;
    }


    .calculate-drive input {
        margin-right: 10px;
        height: 18px;
    }

    .calculate {
        padding: 10px 3vw;
    }

    .social {
        display: block;
        margin-top: 10px;
    }

    .content-footer-left {
        display: inline-flex;
        margin-left: 15px;
        text-align: left;
    }

    .social a {
        margin: 15px;
    }

    .apply-text-md {
        display: none;
    }
}

@media (max-width: 767px) {
    .home {
        min-height: 330vw;
        padding: 5px 50px 0 50px;
    }

    .logo {
        height: 100px;
    }

    .content {
        height: 190vw;
        display: grid;
        grid-row-gap: 70vw;
    }

    .title-content {
        font-size: 10vw;
        width: 55vw;
    }

    .apply {
        display: block;
    }

    .text-content {
        font-size: 5vw;
        width: auto;
        margin-top: 15px;
    }

    .apply-content {
        width: auto;
        height: auto;
        border-radius: 30px;
        padding: 0;
    }

    .apply-text-md {
        display: none;
    }

    .already-apply {
        text-align: left;
    }

    .apply-content form input {
        width: 85%;
    }

    .check-term {
        zoom: 1;
    }

    .submit-form {
        font-size: initial;
        margin-top: 15px;
        height: auto;
    }

    .content-footer-left {
        display: flex;
        justify-content: center;
    }

    footer {
        height: max-content;
    }

    .content-footer {
        display: block;
        margin-bottom: 0;
        padding: 20px 2px;
        justify-content: center;
    }

    .hours {
        width: 50px;
        padding: 10px 2px;
    }

    .calculate-drive input {
        padding: 10px 15px;
    }

    .calculate {
        padding: 5px 25vw;
        margin: 10px auto;
    }

    .city {
        width: 45vw;
    }

    .social {
        display: flex;
        justify-content: center;
    }

    .social img {
        width: 7vw;
    }

    .social a {
        margin: auto 5vw;
    }
}
